.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  padding: 10px;
}

.filter {
  flex: 1;
  max-width: 250px;
  margin-right: 20px;
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.products {
  flex: 3;
}

/* Product List Styling */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 10px;
}

/* Product Card Styling */
.product-card {
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.product-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  text-decoration: none;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}

.product-card h3 {
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
}

.product-card .beer-type,
.product-card .beer-alcohol,
.product-card .beer-price {
  font-size: 1rem;
  margin: 5px 0;
  color: #666;
}

.error {
  color: red;
  font-weight: bold;
  margin: 10px 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-content button {
  margin: 10px 5px; /* Adds spacing between buttons */
}

.modal-content .view-cart-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content .view-cart-button:hover {
  background-color: #0056b3;
}

.modal-content .continue-shopping-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content .continue-shopping-button:hover {
  background-color: #218838;
}
